body {
    background-color:rgba(0, 0, 0, 0.87);
    color:cornsilk;
}

.homepage {
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.title {
    position:relative;
    left:34%;
    border-style:outset;
    border-radius:30px;
    width:30%;    
    background-color:rgba(162, 224, 243, 0.568);
    padding:10px;
    user-select: none;
}

img.homepage {
    margin-left:auto;
    margin-right:auto;
    border-radius:20px; 
    width:50%;
}

a.github:hover{
    background-color:rgba(127, 236, 255, 0.171);
}

a:visited{
    color:cornsilk;
}
